{% load i18n %}
{% load staticfiles %}

<header id="header">
    <div class="header-wrapper container">
        <div class="row">

            <ul>
                <li class="logo-container">
                    <a href="{% url 'home' %}">
                    </a>
                </li>
                <li id="navbar" class="nav-container collapsed">
                    <ul id="nav">

                        <li id="how-it-works-link">
                            <a href="#widget-section">How it works</a>
                        </li>
                        <li id="request-acc-link" class="header-contact-as">
                            <a href="#section-form">Contact Us</a>
                        </li>
                        <li id="request-acc-link">
                            <a href="{%  url 'publisher_login' %}">PUBLISHER LOGIN</a>
                        </li>

                        <li id="request-acc-link" class="cta">
                            <a href="{%  url 'join-network' %}">JOIN NETWORK</a>
                        </li>



                    </ul>
                </li>
            </ul>

            <div class="header-bars-wrapper text-right hidden-lg">
                <button type="button" class="navbar-toggle">
                    <i class="fa fa-bars fa-2x"></i>
                </button>
            </div>

        </div>
    </div>

</header>
