<md-toolbar class="publisher-toolbar">
    <div class="md-toolbar-tools">
        <md-button ui-sref="index.main" aria-label="Home">
            Home
        </md-button>

        <md-button ui-sref="index.auth-change-password" aria-label="Change password">
            Change password
        </md-button>

        <!-- Right side -->
        <span flex></span>
        <md-button ui-sref="index.profile" aria-label="Profile">
            <md-icon md-svg-icon="/static/images/icons/profile.svg"></md-icon>
            Profile
        </md-button>

        <md-button ui-sref="logout" aria-label="Logout">
            <md-icon md-svg-icon="/static/images/icons/logout.svg"></md-icon>
            Logout
        </md-button>
    </div>
</md-toolbar>