{% load staticfiles %}

<md-toolbar class="publisher-toolbar" ng-cloak>

    <div class="md-toolbar-tools">

        <img class="nav-logo" src="{% static 'images/adfits.png' %}" alt="logo">
        {% if user.is_authenticated %}
            <md-button ui-sref-active="active" ui-sref="publisher.dashboard" aria-label="Dashboard">
                Dashboard
            </md-button>

            <md-button ui-sref-active="active" ui-sref="publisher.sites" aria-label="Sites">
                Sites
            </md-button>

            <md-button ui-sref-active="active" ui-sref="publisher.audience" aria-label="Campaigns">
                Campaigns
            </md-button>

            <!-- Right side -->
            <span flex></span>
            <md-button ui-sref="index.profile" aria-label="Profile">
                <ng-md-icon icon="person"></ng-md-icon>
                Profile
            </md-button>

            <md-button ui-sref="logout" aria-label="Logout">
                <ng-md-icon icon="logout"></ng-md-icon>
                Logout
            </md-button>
        {% endif %}
        <!-- Right side -->
        <span flex></span>
        <!--The right side is hidden when the screen size is larger than small -->
        <md-button aria-label="drop-down">
            <ng-md-icon icon=”menu”></ng-md-icon>
        </md-button>


    </div>
</md-toolbar>