<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
    <md-toolbar class="md-theme-light md-accent md-hue-4" layout="row" layout-align="space-between center"
                ng-controller="SidebarController as vm">
        <span></span>

        <h1 class="md-toolbar-tools">Menu</h1>
        <ng-md-icon ng-click="vm.close()" id="close-icon" icon="clear"
                    style="fill: white;margin-right: 15px; padding-top: 7px;"></ng-md-icon>
    </md-toolbar>
    <md-content layout-padding layout="column" ng-controller="SidebarController as vm">

        {% if user.is_authenticated %}
            <md-button class="link-nav" ui-sref-active="md-raised md-primary active-link-nav"
                       ui-sref="publisher.dashboard" aria-label="Dashboard">
                Dashboard
            </md-button>

            <md-button class="link-nav" ui-sref-active="md-raised md-primary active-link-nav" ui-sref="publisher.sites"
                       aria-label="Sites">
                Sites
            </md-button>

            <md-button class="link-nav" ui-sref-active="md-raised md-primary active-link-nav"
                       ui-sref="publisher.audience" aria-label="Campaigns">
                Campaigns
            </md-button>

            <!-- Right side -->
            <span flex></span>
            <md-divider></md-divider>
            <md-button class="link-nav" ui-sref-active="md-raised md-primary active-link-nav"
                       ui-sref="publisher.profile" aria-label="Profile">
                <ng-md-icon icon="person"></ng-md-icon>
                Profile
            </md-button>

            <md-button class="link-nav" ui-sref-active="md-raised md-primary active-link-nav"
                       ui-sref="publisher.changepassword" aria-label="Profile">
                <ng-md-icon icon="vpn_key"></ng-md-icon>
                Change Password
            </md-button>

            <md-button class="link-nav" href="/logout" aria-label="Logout">
                <ng-md-icon icon="logout"></ng-md-icon>
                Logout
            </md-button>
        {% else %}
            <md-button class="link-nav" href="/" aria-label="Home">
                Home
            </md-button>

        {% endif %}
    </md-content>
</md-sidenav>