<html>
<body>
<style type="text/css">
.table {
	width: 60%;
	margin-bottom: 5px;
}
.table th,
.table td {
	padding: 8px;
	line-height: 20px;
	text-align: left;
	vertical-align: top;
	border-top: 1px solid #dddddd;
}
.table th {
  font-weight: bold;
}
.table .table {
  background-color: #ffffff;
}
.table-bordered {
  border: 1px solid #dddddd;
  border-collapse: separate;
  *border-collapse: collapse;
  border-left: 0;
}
.table-bordered th,
.table-bordered td {
  border-left: 1px solid #dddddd;
}
</style>

<pre>
Dear Collector

The following REWARDS are now available for you to EARN TODAY!

<table class="table table-bordered">
	<thead>
	<tr>
		<td>Reward</td><td>Link</td><td>Countdown to Reward</td>
	</tr>
	</thead>
	<tbody>
	{% for data in email_data %}
		<tr>
			<td>5$ {{ data.sponsor_name }}</td>
			<td>
				<a href="{{ data.website_link }}">
					{{ data.publisher_name }}
				</a>
			</td>
			<td>{{ data.day_left }} visits remaining!</td>
		</tr>
	{% endfor %}
	</tbody>
</table>

Keep adding money to your GIFT CARDS by visiting these sites everyday for the next 5 days!

Sincerely,

Jennifer Williams

@ADfits
</pre>
</html>
</body>