{% extends "layout.html" %}
{% load staticfiles %}

{% block extra_title %} | Dashboard{% endblock %}

{% block content %}
    {% include 'partials/nav_old.html' %}

    <div class="container add-website-wrapper" ng-controller="DemoController">
        <div class="row">
            <h3 class="add-website-header">
                <em>
                    Help us accurately categorize your website. Tell us more about your content.
                </em>
            </h3>

            <div class="col-lg-7 col-md-7 col-sm-9 col-xs-12">
                <form id="add-website-form" method="post" action="." enctype="multipart/form-data">
                    {% csrf_token %}

                    <fieldset>

                        <div style="position:relative; left:-55px;">
                            <!-- Text input-->
                            <div class="control-group">
                                <label class="control-label" for="website-name">Website Name:</label>

                                <div class="controls">
                                    {{ form.website_name }}
                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="control-group">
                                <label class="control-label" for="website-domain">Website URL:</label>

                                <div class="controls">
                                    {{ form.website_domain }}
                                    {{ form.website_domain.errors }}
                                </div>
                            </div>
                            <!-- Select Basic -->
                            <div class="control-group">
                                <label class="control-label" for="categories">Enter ONE <strong>category</strong> that
                                    best describes your website:</label>

                                <div class="controls">

                                    <angucomplete-alt id="categories"
                                                      placeholder="Examples: Parenting, Travel, Moms, Gaming, etc."
                                                      pause="100"
                                                      selected-object="testObj"
                                                      remote-url="http://www.adfits.com/api/category?parent="
                                                      title-field="industry_type"
                                                      image-field="profilePic"
                                                      minlength="3"
                                                      input-class="form-control form-control-small"
                                                      match-class="highlight"/>

                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="categories">Choose multiple <strong>sub-categories</strong> for your website.
                                    <br>
                                    The best sub-categories to use are sub-sections from your website.</label>

                                <div class="controls">
                                    <angucomplete-alt id="categories_sub"
                                                      placeholder="Examples: Food, Health, Style, Games"
                                                      pause="100"
                                                      selected-object="testObj"
                                                      remote-url="http://www.adfits.com/api/category?sub="
                                                      title-field="industry_type"
                                                      image-field="profilePic"
                                                      minlength="3"
                                                      input-class="form-control form-control-small"
                                                      match-class="highlight"/>

                                </div>
                            </div>
                            <!-- File Button -->
                            <div class="control-group">
                                <label class="control-label" for="logo">Twitter Account:</label>

                                <div class="controls">
                                    {{ form.twitter_name }}
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="logo">Facebook Page:</label>

                                <div class="controls">
                                    {{ form.facebook_page }}
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="logo">Avg. Monthly Site Pageviews:</label>

                                <div class="controls">
                                    {{ form.avg_page_views }}
                                </div>
                            </div>
                            <!-- File Button -->
                            <div class="control-group">
                                <label class="control-label" for="website-logo">Website Logo:</label>

                                <div class="controls">
                                    {{ form.website_logo }}
                                </div>
                            </div>
                            <!-- Button (Double) -->
                            <div class="control-group">
                                <label class="control-label" for="add"></label>

                                <div class="controls">
                                    <button id="add" name="add" class="form-button">COMPLETE SETUP</button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>


        </div>
    </div>
    {% include 'partials/footer.html' %}
{% endblock content %}

{% block js %}

    <script src="{% static 'js/controllers/DemoController.js' %}"></script>

{% endblock %}


{% block css %}

    <!-- <link href="{% static "css/flat-ui.css" %}" rel="stylesheet"> -->

{% endblock %}