{% extends "site_base_old.html" %}

{% block navbar %}
	<div class="navbar" style="" >
		<div class="navbar-inner" style="height:80px;margin-top: -20px;">
			
			<div class="container">
				<a href="/" class="brand">
					<h3>
						<img src="/static/images/adfits.png" 
							style="position: relative;margin-top:-5px;">
					</h3>
				</a>
			
				{% block navbarcontent %}
				   <ul class="nav pull-right" style="width: 140px;margin-top: 13px;">
					  <li>
						<a href="{% url 'publisher_faq' %}">FAQ</a>
					  </li>
					  <li class="dropdown">
						<a href="#" class="dropdown-toggle fui-gear" data-toggle="dropdown">
						</a>
						<ul class="dropdown-menu">
						  <li>
							<a href="{% url 'publisher-profile' %}">Profile</a>
						  </li>
						  <li>
							<a href="/publisher/change-password">Change Password</a>
						  </li>
						  <li>
							<a href="/publisher/logout">Logout</a>
						  </li>
						</ul>
					  </li>
					</ul> <!-- /nav -->
			
					<ul class="nav pull-left" style="position:relative;margin-left: 20px;margin-top: 13px;">
					  <li>
						<a href="/publisher/dashboard" class="fui-home" style="font-size:16px">
							&nbsp;Dashboard
						</a>
					  </li>
					  <li>
						<a href="/publisher/sites" class="fui-window" style="font-size:16px">
							&nbsp;Sites
						</a>
					  </li>
					  <li>
						<a href="/publisher/audience" class="fui-user" style="font-size:16px">
							&nbsp;Campaigns
						</a>
					  </li>
					</ul> <!-- /nav -->
					
				{% endblock navbarcontent %}             
			</div>
		</div>
	</div>
{% endblock navbar %}



