{% extends 'layout.html' %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
    {% include 'partials/nav_material.html' %}

    <div ui-view></div>

    {% include 'partials/navbar.html' %}
    {% include 'partials/footer.html' %}

{% endblock %}

{% block js %}

    <script>
        $('.container').css('width','100%').css('padding','0 30px');
    </script>

    <script src="{% static 'js/controllers/PublisherController.js' %}"></script>
    <script src="{% static 'js/controllers/EditProfileController.js' %}"></script>
    <script src="{% static 'js/controllers/AdvertisersController.js' %}"></script>
    <script src="{% static 'js/controllers/PublisherSitesController.js' %}"></script>
    <script src="{% static 'js/controllers/PublisherAddSitesController.js' %}"></script>
    <script src="{% static 'js/controllers/PublisherEditSitesController.js' %}"></script>
    <script src="{% static 'js/controllers/NavbarController.js' %}"></script>

{% endblock %}
