{% extends "layout.html" %}
{% load staticfiles %}

{% block extra_title %} | Sites{% endblock %}

<!-- Container -->
<div class="row-fluid">
    <div class="span12">
        {% block content %}
            {% include 'partials/nav_old.html' %}
            <div class="" ng-controller="EditProfileController as vm" ng-cloak>

                <h1>[[ vm.test ]]</h1>

            </div>
            {% include 'partials/footer.html' %}
        {% endblock content %}
    </div>
</div>

{% block js %}

   <script src="{% static 'js/controllers/EditProfileController.js' %}"></script>

{% endblock %}

{% block css %}

   <link href="{% static "css/flat-ui.css" %}" rel="stylesheet">

{% endblock %}