/*Custom css file*/

.adfits-logintop{
	margin-top: 5%;
}
.add-style{
    position:absolute;
}
.img-responsive {
	display: block;
	height: auto;
	max-width: 100%;
}

.up-img-style {
    position:absolute;
    left: 0%;
    top: 0%;
}
.down-img-style {
    position:absolute;
    left: 0%;
    top: 62%;
}
.right-img-style {
    position:absolute;
    left: 63.4%;
    top:0%;
}
.left-img-style {
    position:absolute;
    left: 0%;
    top: 0%
}
.center-img-style {
    position:absolute;
    left: 29.5%;
    top: 23.5%;
}
.img-opaque {
	opacity:0.4;
	filter: alpha(opacity=40)
}
.layout-style {
	top:3%;
	left:32%;
	height:255px;
	width:375px;
	position:relative; 
}
.addwebsite{
	width: 450px;
	position: absolute;
	left: 400px;
}

.scale{
	padding-right: 5px;
    padding-left: 5px;
    width: 97%;
}

.adf-txtbox-border{
	text-align:center;
	border-style: solid; 
	border-width: 5px;
	position: relative;
	border-radius:25px;
	border-color:  #76459b;
	margin-bottom:15px;
}

.spacer-20 {
    margin-top: 20px;
}

.base-nav {
    margin-top: 100px;
    margin-bottom: 0px;
}   

.base-nav-div {
    height: auto; 
    background: none repeat scroll 0% 0% rgb(236, 238, 240);
}

.home-div {
    min-height: 490px;
}


#export, 
#login, 
#submit,
#add,
#update {
    background-color:#483276;
}

#export:hover, 
#login:hover, 
#submit:hover, 
#add:hover,
#update:hover {
    background-color:#5ec8f2;
}

.chart {
    width: 800px; 
    height: 300px;
    right: 5px;
}

.ui-datepicker td span, 
.ui-datepicker td a,
.ui-datepicker th {
    min-width: 26px;
}

#chart1-text {
    position: relative;
    top: 45px;
}/*for publisher dashboard */

#chart2-text {
    position: relative;
    right: 30px;
    top:70px;
}/*for publisher dashboard */

#chart3-text {
    position: relative;
    right: 30px;
    top:90px;
}/*for publisher dashboard */

#chart_div2 {
    position: relative;
    right: 70px;
    height: 350px;
}/*for publisher dashboard */

#chart_div3 {
    position: relative;
    right: 48px;
    top: 50px;
}/*for publisher dashboard */

.dashboard-center {
    position: relative;
    left: 100px;
}/*for sponsor dashboard */

.dashboard-divs {
    position: relative;
    right: 30px;
}/*for sponsor dashboard */
.box-height {
	height: 220px;
}
#brand-remind {
    font-size: 49px;
}
.report-height {
    height:150px;
}
