<div class="container add-website-wrapper">
    <div class="row">
        <h3 class="add-website-header">
            <em>
                Help us accurately categorize your website. Tell us more about your content.
            </em>
        </h3>

        <div class="col-lg-7 col-md-7 col-sm-9 col-xs-12">
            <form id="add-website-form" ng-submit="vm.addWebsite('publisher.getcode')">

                <fieldset>

                    <div style="position:relative; left:-55px;">
                        <!-- Text input-->
                        <div class="control-group">
                            <label class="control-label" for="website-name">Website Name:</label>

                            <div class="controls">
                                <input ng-model="vm.website.website_name" class="form-control input-small"
                                       id="website_name" name="website_name" placeholder="Enter website name"
                                       type="text" required>
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="control-group">
                            <label class="control-label" for="website-domain">Website URL:</label>

                            <div class="controls">
                                <input ng-model="vm.website.website_domain" class="form-control input-small"
                                       id="website_domain" name="website_domain"
                                       placeholder="Enter your website domain beginning with http://" type="url" required>

                                <div class="alert alert-danger" role="alert"
                                     ng-show="vm.addWebsiteProcessError.data.website_domain"
                                     ng-focus="vm.addWebsiteProcessError.data.website_domain">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                    <span class="sr-only">Error:</span>
                                    [[ vm.addWebsiteProcessError.data.website_domain[0] ]]
                                </div>
                            </div>
                        </div>
                        <!-- Select Basic -->
                        <div class="control-group">
                            <label class="control-label" for="categories">Enter ONE <strong>category</strong> that
                                best describes your website:</label>

                            <div class="controls">

                                <md-chips class="add-site-register" ng-model="vm.category_default" md-autocomplete-snap
                                          md-transform-chip="vm.transformChip($chip, 'parent')"
                                          md-require-match="vm.autocompleteDemoRequireMatch">
                                    <md-autocomplete
                                            md-selected-item="vm.selectedCategoryParent"
                                            md-search-text="vm.searchTextParent"
                                            md-items="category in vm.querySearch(vm.searchTextParent, 'parent')"
                                            md-item-text="category.industry_type"
                                            placeholder="Examples: Parenting, Travel, Moms, Gaming, etc.">
                                        <span md-highlight-text="vm.searchTextParent">[[ category.industry_type ]]</span>
                                    </md-autocomplete>
                                    <md-chip-template>
                                        <span>
                                          <strong>[[$chip.industry_type]]</strong>
                                          <em ng-show="$chip.type.length && !$chip.type_public.length">([[$chip.type]])</em>
                                          <em ng-show="$chip.type_public.length">([[$chip.type_public]])</em>
                                        </span>
                                    </md-chip-template>
                                </md-chips>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="categories">Choose multiple
                                <strong>sub-categories</strong> for your website.

                                The best sub-categories to use are sub-sections from your website.</label>

                            <div class="controls">

                                <md-chips ng-model="vm.category_sub" md-autocomplete-snap
                                          md-transform-chip="vm.transformChip($chip, 'sub')"
                                          md-require-match="vm.autocompleteDemoRequireMatch"
                                          md-separator-keys="vm.keys">
                                    <md-autocomplete
                                            md-selected-item="vm.selectedCategorySub"
                                            md-search-text="vm.searchTextSub"
                                            md-items="category in vm.querySearch(vm.searchTextSub, 'sub')"
                                            md-item-text="category.industry_type"
                                            placeholder="Examples: Food, Health, Style, Games">
                                        <span md-highlight-text="vm.searchTextSub">[[ category.industry_type ]]</span>
                                    </md-autocomplete>
                                    <md-chip-template>
                                        <span>
                                          <strong>[[$chip.industry_type]]</strong>
                                          <em ng-show="$chip.type.length && !$chip.type_public.length">([[$chip.type]])</em>
                                          <em ng-show="$chip.type_public.length">([[$chip.type_public]])</em>
                                        </span>
                                    </md-chip-template>
                                </md-chips>

                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="logo">Twitter Account:</label>

                            <div class="controls">
                                <input ng-model="vm.website.twitter_name" class="form-control input-small"
                                       id="id_twitter_name" name="twitter_name" placeholder="@" type="text">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="logo">Facebook Page:</label>

                            <div class="controls">
                                <input ng-model="vm.website.facebook_page" class="form-control input-small"
                                       id="id_facebook_page" name="facebook_page" placeholder="http://" type="url">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="logo">Avg. Monthly Site Pageviews:</label>

                            <div class="controls">
                                <input ng-model="vm.website.avg_page_views" class="form-control input-small"
                                       id="id_avg_page_views" name="avg_page_views"
                                       placeholder="There are no minimums, so please be honest!" type="number">
                            </div>
                        </div>
                        <!-- File Button -->
                        <div class="control-group">
                            <label class="control-label" for="website-logo">Website Logo:</label>

                            <div class="controls">
                                <input ngf-max-size="1MB" ngf-select ng-model="vm.website.website_logo"
                                       id="id_website_logo" name="website_logo" type="file">

                                <div class="alert alert-danger" role="alert"
                                     ng-show="vm.addWebsiteProcessError.data.website_logo">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                    <span class="sr-only">Error:</span>
                                    [[ vm.addWebsiteProcessError.data.website_logo[0] ]]
                                </div>
                            </div>
                        </div>
                        <!-- Button (Double) -->
                        <div class="control-group">
                            <label class="control-label" for="add"></label>

                            <div class="controls">
                                <button type="submit" id="add" name="add" class="form-button">COMPLETE SETUP
                                </button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>


    </div>
</div>