<form name="loginForm" action="#" class="form-horizontal action_add" role="form" method="POST">
    <div class="row">
        <div class="publisher-login-block" layout="row" layout-align="center center" flex="auto">
            <div layout="column">
                <h3>Change Password</h3>
                <md-divider class="login-divider"></md-divider>
                <md-input-container class="md-icon-float md-icon-right md-block" flex>
                    <label>Your old password</label>
                    <input required name="old_password" ng-model="vm.authUser.old_password" type="password">

                    <div ng-messages="loginForm.old_password.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-icon-float md-icon-right md-block" flex>
                    <label>New password</label>
                    <input required name="new_password1" ng-model="vm.authUser.new_password1" type="password">

                    <div ng-messages="loginForm.new_password1.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-icon-float md-icon-right md-block" flex>
                    <label>Confirm password</label>
                    <input required name="new_password2" ng-model="vm.authUser.new_password2" type="password">

                    <div ng-messages="loginForm.new_password2.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
            </div>
        </div>
    </div>

    <div class="publisher-login-button-wrapper" layout="row" layout-align="center center" flex="auto">
        <md-button type="button" ng-disabled="loginForm.$invalid"
                   class="login-btn md-raised md-primary publisher-login-button" ng-click="vm.changePassword()">
            Change password
        </md-button>
    </div>

    <div layout="row" layout-align="center center" flex="auto" ng-show="vm.changePasswordProcess">
        <md-progress-circular class="login-progress-circular md-accent md-hue-2" md-mode="indeterminate"
                              md-diameter="80"></md-progress-circular>
    </div>

</form>