<div class="edit-profile-wrapper container" ng-cloak>
    <div class="row">
        <div class="edit-profile-block" layout="row" layout-align="start center" flex="auto">
            <form name="userEditForm">
                <div layout="row" layout-align="start center">
                    <h4 class="fields-inline">Name:
                        <small ng-hide="vm.editableName">[[ vm.publisher.name ]]</small>
                    </h4>
                    <md-input-container class="md-icon-float md-icon-right md-block" ng-show="vm.editableName">
                        <label>Enter your name</label>
                        <input required name="email" ng-model="vm.publisher.name" type="text">
                    </md-input-container>
                    <ng-md-icon id="edit-site-icon" ng-click="vm.editableName = !vm.editableName"
                                icon="edit"></ng-md-icon>
                </div>

                <div layout="row" layout-align="start center">
                    <h4 class="fields-inline">Phone:
                        <small ng-hide="vm.editablePhone">[[ vm.publisher.telephone ]]</small>
                    </h4>
                    <md-input-container class="md-icon-float md-icon-right md-block" ng-show="vm.editablePhone">
                        <label>Enter your phone</label>
                        <input required name="phone" ng-model="vm.publisher.telephone" type="text"
                               ng-pattern="/^[0-9]{3}-[0-9]{3}-[0-9]{4}$/">

                        <div class="hint">###-###-####</div>
                        <div ng-messages="userEditForm.phone.$error">
                            <div ng-message="pattern">###-###-#### - Please enter a valid phone.</div>
                        </div>
                    </md-input-container>
                    <ng-md-icon id="edit-site-icon" ng-click="vm.editablePhone = !vm.editablePhone"
                                icon="edit"></ng-md-icon>
                </div>


                <h4 class="fields-inline">Address:
                    <small>[[ vm.publisher.address ]]</small>
                </h4>
                <br>

                <h4 class="fields-inline">Country:
                    <small>[[ vm.publisher.country.name ]]</small>
                </h4>
                <br>

                <h4 class="fields-inline">Email/Username:
                    <small>[[ vm.publisher.email ]]</small>
                </h4>
                <br>

                <h4 class="fields-inline">Number of Websites Added:
                    <small>[[ vm.publisher.count_of_added_websites ]]</small>
                </h4>
                <br>
                <hr>

                <button class="form-button" ng-click="vm.updateProfile()">
                    Save
                </button>

                <button class="form-button clear-button" ng-click="vm.clear()">
                    Cancel
                </button>
            </form>
        </div>

    </div>

</div>
