<div class="container">
    <div class="row">
        <div class="edit-profile-block" ng-cloak>

            <h4 class="fields-inline">Name:</h4><input type="text" ng-model="vm.publisher.name"><br>

            <h4 class="fields-inline">Phone:</h4><input type="text" ng-model="vm.publisher.telephone"><br>

            <h4 class="fields-inline">Address:
                <small>[[ vm.publisher.address ]]</small>
            </h4>
            <br>

            <h4 class="fields-inline">Country:
                <small>[[ vm.publisher.country.name ]]</small>
            </h4>
            <br>

            <h4 class="fields-inline">Email/Username:
                <small>[[ vm.publisher.email ]]</small>
            </h4>
            <br>

            <h4 class="fields-inline">Number of Websites Added:
                <small>[[ vm.publisher.count_of_websites ]]</small>
            </h4>
            <br>
            <hr>

            <button class="form-button" ng-click="vm.updateProfile()">
                Save
            </button>

            <button class="form-button clear-button" ng-click="vm.clear()">
                Cancel
            </button>
        </div>
    </div>

</div>
