{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load staticfiles %}
{% block title %}
    {% trans "Advertisers" %}
{% endblock %}

{% block content %}
    {% include 'partials/nav_old.html' %}
    <div class="main-content advertisers-wrapper">
        <div class="container">
            <div class="row">
                <div class="advertisers-header col-lg-10 col-md-10 col-sm-12 col-xs-12">
                    <h2>
                        <em>Here are some brands that you can earn income with. Choose the ones you want to
                            allow to advertise on your website in the form of a sponsorship:</em>
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="advertisers-content col-lg-7 col-md-7 col-sm-12 col-xs-12">
                    <form action="#" method="post">
                        {% csrf_token %}
                        <div class="row">

                            {% for type in sponsors_type %}
                                <div class="col-lg-4 col-md-6 col-sm-4 col-xs-4">
                                    <h2><em>{{ type.type }}</em></h2>
                                    {% for sponsor in type.sponsor_set.all %}
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="sponsor" value="{{ sponsor.name }}">
                                                {{ sponsor.name }}
                                            </label>
                                        </div>

                                    {% endfor %}
                                </div>
                            {% endfor %}

                        </div>


                        <button class="form-button" type="submit">
                            NEXT
                        </button>
                    </form>
                </div>

                <div class="sponsor-network-text col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <h2><em>Our sponsor network is growing every day.</em></h2>

                    <h2><em>Stay tuned, you’ll be able to target more sponsors soon!</em></h2>
                </div>
            </div>
        </div>

    </div>
    {% include 'partials/sidebar.html' %}

    {% include 'partials/footer.html' %}

{% endblock %}


{% block js %}


{% endblock %}


{% block css %}


{% endblock %}