{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load staticfiles %}
{% block title %}
    {% trans "F.A.Q." %}
{% endblock %}

{% block content %}

    {% include 'partials/header_two.html' %}
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="faq-block col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <h1 class="main-text-second">
                        <strong>{% trans "F.A.Q." %}</strong>
                    </h1>

                    <h2 class="main-text faq-heading">
                        <b>Why am I seeing an offer to collect a dollar on this website?</b>
                    </h2>

                    <h2 class="main-text">
                        The website you are visiting has decided to reward you for your visit and loyalty. The reward

                        being offered is a $5 gift card at a participating retailer or business.
                    </h2>

                    <h2 class="main-text faq-heading">
                        <b>How many times do I need to visit the website to qualify for a reward?</b>
                    </h2>

                    <h2 class="main-text">
                        You need to visit the website 5 times over 5 calendar days and you must click on the widget to

                        collect and save your new dollar. Once you have collected $5, you will be prompted to redeem

                        your reward. Only a limited number of rewards are available, on a first come, first redeemed

                        basis.
                    </h2>

                    <h2 class="main-text faq-heading">
                        <b>What if I miss a day and forget to visit the website?</b>
                    </h2>

                    <h2 class="main-text">
                        Sign up for email notifications and we will remind you to visit the website! You can visit any
                        day

                        to qualify for your reward, as long as the campaign is still active and the number of cards are

                        still available. Each campaign runs for a specific time period (generally 7-10 days), OR until
                        all

                        rewards have been redeemed (whichever comes first).
                    </h2>

                    <h2 class="main-text faq-heading">
                        <b>Can I qualify to redeem more than one reward?</b>
                    </h2>

                    <h2 class="main-text">
                        One reward is redeemable per person, per campaign. Sign up to be notified for future rewards

                        and we will remind you when more rewards from your favourite brands become available!
                    </h2>

                    <h2 class="main-text faq-heading">
                        <b>How often do you offer rewards? I want to participate again.</b>
                    </h2>

                    <h2 class="main-text">
                        At the end of a campaign, you can sign up to receive an email notification for when future

                        rewards become available. The website or brand will then notify you when future rewards

                        become available on the website. A valid email address must be provided to receive reminders.

                        Also, remember to add <a href="mailto:notifications@adfits.com ">notifications@adfits.com </a>to your
                        “safe senders” list.
                    </h2>

                    <h2 class="main-text faq-heading">
                        <b>What if I don’t like the brand that you are offering a reward for?</b>
                    </h2>

                    <h2 class="main-text">
                        We do our best to bring you the best and most popular brand rewards. If you would like to

                        suggest a brand reward, send us a Tweet @ADfits or email us at <a href="mailto:info@adfits.com">info@adfits.com</a> and we will

                        do our best to reward you with more of the brands you love.
                    </h2>

                    <h2 class="main-text faq-heading">
                        <b>How long does it take to process redeemed rewards?</b>
                    </h2>

                    <h2 class="main-text">
                        Depending on the retailer, rewards will take a minimum of 72 hours to process. All rewards can

                        only be issued to a valid email address.
                    </h2>

                    <h2 class="main-text faq-heading">
                        <b>Can I receive my redeemed reward in the mail?</b>
                    </h2>

                    <h2 class="main-text">
                        At this time, rewards can only be redeemed digitally via a valid email address.
                    </h2>

                    <h2 class="main-text faq-heading">
                        <b>Does my reward have an expiration date?</b>
                    </h2>

                    <h2 class="main-text">
                        Depending on the retailer, rewards may have a soft expiration date of one year.
                    </h2>

                    <h2 class="main-text faq-heading">
                        <b>Why is the widget still showing $X dollar value?</b>
                    </h2>

                    <h2 class="main-text">
                        The dollar value on the widget will only increase once per day per browser. Please do not erase

                        your cookies or visit the website under “private browsing” settings. This will hamper our
                        ability to

                        track your consecutive visits and reward you for your loyalty. Please read our Terms of Use for

                        more details or send an email to Jennifer Williams at <a href="mailto:info@adfits.com">info@adfits.com</a>  and we will do our best to

                        further assist you.
                    </h2>

                    <h2 class="main-text faq-heading">
                        <b>How can I sign up for reminder email notifications?</b>
                    </h2>

                    <h2 class="main-text">
                        Simply enter your email address in the field and press the submit button. Remember to add

                        <a href="mailto:notifications@adfits.com">notifications@adfits.com</a> to your “safe senders” list.
                    </h2>

                    <h2 class="main-text faq-heading">
                        <b>Why are reminder emails not being sent to my email address?</b>
                    </h2>

                    <h2 class="main-text">
                        Please add <a href="mailto:notifications@adfits.com">notifications@adfits.com</a> to your safe senders list. The email will be sent from

                        <strong>Jennifer Williams</strong> of the ADfits team.
                    </h2>


                </div>
            </div>
        </div>
    </div>

    {% include 'partials/sidebar.html' %}
    {% include 'partials/footer.html' %}

{% endblock %}

{% block js %}

    <script>
        $('.header-wrapper').css('border-bottom', '#483276 1px solid');
        $('header').addClass('header-is-scrolled').addClass('header-side-pages');
        $('.header-bars-wrapper').addClass('is-scrolled');
        $('.footer').css('background-color', '#ee4577');
    </script>

    <script>
        <!-- Scrolled header -->
        $(window).scroll(function () {
            if ($(window).scrollTop() >= 300) {
                $('header').addClass('header-side-pages-is-scrolled');
            }
            else {
                $('header').removeClass('header-side-pages-is-scrolled');
            }
        });

    </script>
{% endblock %}
