{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load staticfiles %}
{% block title %}
    {% trans "Join network" %}
{% endblock %}

{% block content %}

    <div class="main-content join-network-wrapper container">

        <!-- -->
        <section class="section-join-network col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <div class="widget-block col-lg-5 col-md-6 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="widget-block-logo col-lg-5 col-md-6 col-sm-4 text-center">
                        <img src="{% static 'images/adfits.png' %}" alt="adfits">
                    </div>
                    <div class="widget-block-questions col-lg-7 col-md-6 col-sm-8">
                        <h2>
                            <small>Questions?</small>
                        </h2>
                        <h2>
                            <small>Call us at 647-328-8001.</small>
                        </h2>
                    </div>
                </div>

                <div class="join-network-widget-wrapper">
                    {% include 'partials/widget.html' %}
                </div>

                <h2>
                    THE WORLD’S 1<sup>ST</sup>
                    GAMIFICATION & REWARDS NETWORK
                    FOR PUBLISHERS.

                </h2>

                <h3>
                    When you use ADfits, you’ll generate MORE revenue, turn one website visit into five, and on the next
                    page,
                    you can choose the brands YOU WANT to work with to reward your audience.

                </h3>

                <h3>
                    <strong>Earn $1 for every $5 card a sponsor gives away*.</strong>
                </h3>

                <h4 class="sponsor-range">
                    *Sponsorships range between 100-500+ cards (depending on website traffic) which is approx.
                    $250-$1,250+ income per 5 day campaign!

                </h4>
            </div>

            <div class="form-block col-lg-7 col-md-6 col-sm-12 col-xs-12">
                <div id="triangle-right" class="hidden-sm hidden-xs"></div>
                <h3 class="col-lg-offset-1 col-md-offset-1 col-sm-offset-2 col-xs-offset-1">
                    Join to use the power of gamification & rewards to monetize your website.

                </h3>

                <h4 class="col-lg-offset-1 col-md-offset-1 col-sm-offset-2 col-xs-offset-1">
                    Please fill out all fields.
                </h4>

                {% crispy form %}
            </div>


        </section>

    </div>

{% endblock %}


{% block js %}
    <script>
        $('body').css('margin-bottom', '0');
    </script>

    <script>
        $.fn.isValid = function () {
            return this[0].checkValidity()
        };


        $('.form-button').on('click', function () {
            if ($("#join_network_form").isValid()) {
                $(this).attr('value', 'Loading...');
            }
        })
    </script>

    <script src="{% static 'js/controllers/JoinNetworkController.js' %}"></script>
{% endblock %}
