{% extends "site_base_old.html" %}

{% block extra_title %} | Login{% endblock %}
{% block content %}

 
<div class="row-fluid adfits-logintop">
  <div class="span4"></div>
  <div class="span4">
    <div class="span1"></div>
    <div class="span10">
      <form class="form-horizontal login-form" method="post">
        {% csrf_token %}
        <legend>Login</legend> 
        <div class="form-group">  
        {% if messages %}
          {% for message in messages %}
              <div class="alert-block alert-{{message.tags}}">
                  <center><a href="#" class="alert-link">{{ message }}</a><center>
              </div>
          {% endfor %}
        {% endif %}
        </div>
        <div class="form-group">
          <div class="control-group">
            {{ form.username }}
            <i class="input-icon fui-user" for="login-name"></i>
            {{ form.username.errors }}
          </div>
        </div>
        <div class="form-group">
          <div class="control-group">
            {{ form.password }}
            <i class="input-icon fui-lock" for="login-pass"></i>
            {{ form.password.errors }}
          </div>
        </div>
        <div class=" form-group control-group">
          <button id="login" type="submit" class="btn btn-primary btn-embossed span12">Login</button>
        </div>
        {% comment %}
        <div class="form-group control-group" style="text-align:center;">
          {% ifequal query_string ''%}
            <a class="control-group text-info" href="/signUp">
          {% else %}
            <a class="control-group text-info" href="/signUp?{{query_string}}">
          {% endifequal %}
            Don't have an account ? &nbsp;&nbsp;
            <span class="label label-large label-info">
              Sign Up&nbsp;&nbsp;
              <i class="input-icon fui-check-inverted"></i>
            </span>
          </a>
        </div>
        {% endcomment %}
      </form>
    </div>
    <div class="span1"></div>
    </div>
  <div class="span4"></div>
</div>


{% endblock content %}
