{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load staticfiles %}
{% block title %}
    {% trans "Privacy policy" %}
{% endblock %}

{% block content %}

    {% include 'partials/header.html' %}
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="thanks-block policy-block col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <h1 class="main-text">
                        <strong>{% trans "PRIVACY POLICY" %}</strong>
                    </h1>

                    <h2 class="main-text">
                        ADfits Inc.’s PRIVACY POLICY

                        Last revised Nov 30, 2015
                    </h2>

                    <h2 class="main-text">
                        At Ad Fits Inc. (“ADfits”, “our”, “we” or “us”) we are committed to maintaining your

                        privacy and your trust. We are committed to protecting your privacy and maintaining the

                        integrity of any identifiable information we collect about you ("Personal Information").

                        This Privacy Policy explains how we collect, protect, use and share information about

                        you when you use the ADfits widget (the “Widget”), ADfits website (the “Site")"), or

                        ADfits mobile app (the “App”). We hope this information increases your confidence in

                        ADfits and enhances your experience on our Widget/Site/App. Each time that you use

                        the Widget/Site/App, you signify that you agree to be bound by the Terms of Use and

                        this Privacy Policy. If you do not agree to the terms of this Privacy Policy you must

                        discontinue using the service and terminate your membership if you are a registered

                        user.
                    </h2>

                    <h2 class="main-text">
                        Our policies and practices have been designed to comply with the <em>Personal Information

                        Protection and Electronic Documents Act</em> (PIPEDA) and corresponding provincial

                        privacy acts.
                    </h2>

                    <h2 class="main-text">
                        About ADfits
                    </h2>

                    <h2 class="main-text">
                        ADfits.com is an online service that allows our clients (Publishers and Advertisers) to

                        launch loyalty reward campaigns. Publishers use our proprietary software to reward

                        website visitors for their loyalty. Advertisers use our proprietary software to advertise

                        their brand and increase sales through redeemed rewards. User members (“Members”,

                        “Users”, “you” or “your”) can visit a participating website and through loyalty, redeem

                        rewards from your favourite brands and more.
                    </h2>

                    <h2 class="main-text">
                        A. THE COLLECTION OF PERSONAL INFORMATION
                    </h2>

                    <h2 class="main-text">
                        1. What is Personal Information?<br>

                        Personal Information is information that refers to an individual specifically and is

                        recorded in any form. Personal Information includes, for example: age, income, date of

                        birth, address, email address, and credit records.
                    </h2>

                    <h2 class="main-text">
                        We collect, use and disclose Personal Information only for purposes that a reasonable

                        person would consider appropriate in the circumstances.
                    </h2>

                    <h2 class="main-text">
                        We collect information from you when you register with our Widget/Site/App, update

                        your profile, interact with other Members and non-Member users, and use various

                        features of our Widget/Site/App. To register with the Widget/Site/App, we ask you to

                        provide your name, birthdate, gender and email address. Once you are registered you

                        will be given the option to add additional information about you and your picture to your

                        profile.
                    </h2>

                    <h2 class="main-text">
                        We also collect information regarding your activities on the Widget/Site/App, including

                        interaction with other users and your use of the Widget/Site/App. From time to time we

                        may ask you to respond to surveys or other similar requests for information and we

                        collect any information you may provide. We collect information from you when you

                        participate in sweepstakes, contests, games or other promotions offered on our

                        Widget/Site/App. We may also collect information about you through other methods,

                        including research surveys or information we obtain from third parties, including

                        verification services, data services, as well as public sources.
                    </h2>

                    <h2 class="main-text">
                        We may review and analyze your use of our products and services, to help us serve you

                        better, and to bring other products and services to your attention that we feel will be of

                        benefit to you. We also collect and analyze information from other sources for the same

                        purposes.
                    </h2>

                    <h2 class="main-text">
                        Please note that aggregated information, where the identity of a specific individual

                        cannot be determined, is not Personal Information. We reserve the right to use

                        aggregated information in any manner we believe it is appropriate. Any aggregated

                        user statistics and information will not contain any Personal Information. </h2>

                    <h2 class="main-text">
                        2. How Do We Collect Personal Information?<br>

                        We will only collect Personal Information that you have voluntarily provided to us. We

                        will not collect any Personal Information about you without informing you, in advance

                        (either through this Privacy Policy or at the time we are requesting Personal Information

                        from you), why and how Personal Information is being collected and how such Personal

                        Information will be used or disclosed (if applicable).
                    </h2>

                    <h2 class="main-text">
                        We may obtain and collect your Personal Information through a variety of means. The

                        following are examples of how we may do so:
                    </h2>

                    <h2 class="main-text">
                        <ul>
                            <li>
                                Completion of Account Applications: Users of our Widget/Site/App may open an

                                account using the Widget, App or Site whereby Personal Information is collected.
                            </li>

                            <li>
                                Contests and Promotional Events: From time to time ADfits may offer various

                                promotions and contests. When participating in these promotions and contests,

                                you may be asked to provide us with certain Personal Information.
                            </li>

                            <li>
                                Purchase of Products: We will collect Personal Information from users of our

                                Widget/Site/App who seek to purchase any products as advertised on

                                Widget/Site/App.
                            </li>
                        </ul>
                    </h2>

                    <h2 class="main-text">
                        3. How We Limits Collection of Personal Information<br>

                        We collect only the information required to provide products and services to you. If the

                        Personal Information we require is collected for a reason other than to provide products

                        and services, your consent will be obtained in advance or at the time the information is

                        collected. We will collect Personal Information only by clear, fair and lawful means.
                    </h2>

                    <h2 class="main-text">
                        4. How We May Disclose Personal Information<br>

                        We do not sell any Personal Information collected via the Widget/Site/App to third

                        parties. We may transfer some information collected to Publishers, Advertisers, selected

                        service providers, trusted partners and suppliers who help us provide personalized

                        services and advertising to you, and for the purpose of fulfilling rewards redemption or

                        sending email notification.
                    </h2>

                    <h2 class="main-text">
                        B. YOUR CONSENT
                    </h2>

                    <h2 class="main-text">
                        1. Your Information is Obtained or Used Only With Your Consent<br>

                        We obtain your consent to collect, use or disclose Personal Information. The method of

                        obtaining consent is appropriate to the type of personal information being collected,

                        used or disclosed.
                    </h2>

                    <h2 class="main-text">
                        2. Your Consent Can Be Express or Implied<br>

                        Express consent can be verbal, written or electronic. We obtain your consent to collect,

                        use or disclose personal information. The method of obtaining consent is appropriate to

                        the type of personal information being collected, used or disclosed:
                    </h2>

                    <h2 class="main-text">
                        <ul>
                            <li>
                                We will use implied consent to collect, use or disclose your Personal Information

                                where one or more of the following apply:<br>

                                - a customer relationship already exists,<br>

                                - express consent has previously been given, or<br>

                                - the purpose of using the Personal Information is reasonably apparent to you.<br>
                            </li>

                        </ul>
                    </h2>

                    <h2 class="main-text">
                        3. You May Withdraw Your Consent After You Have Given It<br>

                        If you do not want us to use Personal Information collected about you for marketing or

                        publicity purposes, then do not create an account with ADfits. By interacting with our

                        Widget/Site/App and opening your account with us, you have provided us your

                        irrevocable consent to collect, use, disclose personal information. However, if you want

                        your personal information deleted, you may simply delete your account or remove your

                        profile detail in the Widget/Site/App.
                    </h2>

                    <h2 class="main-text">
                        We may share information about you within ADfits and with our trusted partners and

                        suppliers.
                    </h2>

                    <h2 class="main-text">
                        We may collect, use or disclose information without your consent if we:
                    </h2>

                    <h2 class="main-text">
                        <ol type="a">
                            <li><span><em>use an outside company to process information</em></span></li>
                            <p>At times we may use the expertise of an outside company to do work for us

                                involving some of your information. When we do, we select the company

                                carefully and confirm that it uses security and privacy standards comparable to

                                those of ADfits.
                            </p>

                            <li><span><em>must disclose information for legal reasons</em></span></li>
                            <p>We may be compelled to release information by a court of law, or other legal or

                                regulatory authority. If so, our policy is to release information only to the extent

                                that is necessary.
                            </p>

                            <li><span><em>have to protect the interests of ADfits</em></span></li>
                            <p>In certain circumstances, we may have to collect, use or release information for

                                its protection. For example, we may do so to detect or prevent fraud.
                            </p>

                            <li><span><em>use an outside company to provide you with a specific service</em></span></li>
                            <p>For example, to deliver a purchase to your home.
                            </p>
                        </ol>
                    </h2>

                    <h2 class="main-text">
                        You may authorize other Internet sites such as Facebook, Twitter, LinkedIn and other

                        social media sites to access and publish on their websites some of your Data, including

                        your activity on the Widget/Site/App.
                    </h2>

                    <h2 class="main-text">
                        C. HOW WE USE YOUR PERSONAL INFORMATION
                    </h2>

                    <h2 class="main-text" style="word-break: break-all">
                        <ol class="use-personal-list">
                            <li><span>Advertisements</span>

                            </li>
                            We, or advertising network providers acting at our request, may deliver advertisements

                            to you through the Widget/Site/App, depending on whether you are a registered user or

                            not.

                            <li>
                                Non-Member Users
                            </li>
                            We, or our advertising providers, automatically deliver ads to all users of the

                            Widget/Site/App, whether they are registered or not, based on non-personal information

                            including: (i) the IP address or GPS Coordinates associated with your device for

                            purposes of determining your approximate geographic location; (ii) the type of web page

                            that is being displayed, such as a news or games page, for example; or (iii) the content

                            on the page that is shown, such as an advertisement or restaurant ratings/comments, or

                            (iv) through the use of cookies. This advertising activity automatically applies to all
                            users

                            and it is purely contextual.

                            <li>
                                Members
                            </li>
                            If you are a Member, we may use your Data, regardless of where we gathered such

                            information, to determine what type of ad to display to you on the Widget/Site/App. In

                            addition, we may send certain demographic information, like Postal or ZIP code, GPS

                            coordinates, age, and gender to our advertising network providers, so that the

                            advertising you see is more relevant to you. These advertising network providers will

                            only use such information to display an ad to you on the Widget/Site/App.

                            <li>
                                Third Party Ad Servers
                            </li>
                            We may use third party advertising technology to serve ads when you visit our

                            Site/App. We may from time to time use various outside ad-serving companies to serve

                            advertisements across the internet and on our Widget/Site/App. They may collect

                            anonymous information about your visits to the Widget/Site/App and your interaction

                            with our Service. They may also use information about your visits to the

                            Widget/Site/App and other websites to target advertisements for goods and services.

                            This anonymous information is collected through the use of pixel tags or cookies, which

                            are industry standard technologies, used by most major websites. No personally

                            identifiable information is collected or used in this process from our Widget/Site/App

                            unless explicitly and voluntarily provided by you. If you would like more information

                            about this practice and to know your choices about not having this anonymous

                            information used by a third party service provider, please visit these sites:

                            <a href="http://www.networkadvertising.org/managing/opt_out.asp">http://www.networkadvertising.org/managing/opt_out.asp</a> and

                            <a href="http://www.aboutads.info/choices/">http://www.aboutads.info/choices/.</a>

                            <li>
                                Sale of Business or Assets
                            </li>
                            In the event that ADfits, substantially all of its assets, or a line of business is sold or

                            disposed of as a going concern, whether by merger, sale of assets or otherwise, or in

                            the event of an insolvency, bankruptcy or receivership, Personal Information of our

                            Members may be one of the assets sold or merged in connection with that transaction.

                            Information about our Members may also need to be disclosed in connection with a

                            commercial transaction where ADfits or an affiliate, is seeking financing, investment,

                            support or funding. In such transactions, personal information will be subject to the

                            promises made in any pre-existing Privacy Policy in effect when the information was

                            obtained.

                        </ol>
                    </h2>

                    <h2 class="main-text">
                        D. VERIFYING AND AMENDING YOUR PERSONAL INFORMATION
                    </h2>

                    <h2 class="main-text">
                        <ol>
                            <li>
                                You Can Access and Verify the Accuracy of Your Information
                            </li>
                            <p>You can access your information to verify, update and correct it, or to remove any

                                obsolete information. We will ask you to put your request in writing.
                            </p>

                            <p>There is no charge for verifying or correcting your information. Depending on the

                                circumstances, there may be a charge if you would like a copy of our records. However,

                                we will let you know in advance if there is a charge.
                            </p>

                            <p>It may not be appropriate for us to release certain information to you. Where information

                                will not or cannot be disclosed, we will provide you with the reasons for
                                non-disclosure.
                            </p>

                            <p>If we have obtained information about you from other people, upon your request, we will

                                let you know how the information came into our possession.

                            <li>
                                We Respond to Your Request Promptly
                            </li>
                            We will deal promptly with your request to see your information, and always respond to

                            you within 45 days. If we need to extend the time, or we have to refuse your request, we

                            will inform you of the reason, subject to any legal restrictions, and we will notify you of

                            the new deadline, the reasons for the extension, and your rights under applicable

                            legislation respecting the extension.

                        </ol>
                    </h2>

                    <h2 class="main-text">
                        E. SECURITY
                    </h2>

                    <h2 class="main-text">
                        We endeavour to maintain appropriate physical, procedural and technical security with

                        respect to its offices and information storage facilities so as to prevent any loss, misuse,

                        unauthorized access, disclosure or modification of Personal Information. This also

                        applies to our disposal or destruction of Personal Information.
                    </h2>

                    <h2 class="main-text">
                        We keep the Personal Information we collect about you strictly confidential. Only

                        authorized personnel have access to this Personal Information. We and our trusted

                        partners or personnel who have access to Personal Information receive special training

                        regarding privacy protection.
                    </h2>

                    <h2 class="main-text">
                        If any employee of ADfits or our trusted partners misuses Personal Information, this will

                        be considered a serious offence for which disciplinary action may be taken, up to and

                        including termination of employment. If any individual or organization misuses Personal

                        Information provided for the purpose of providing services to or for ADfits, this will be

                        considered a serious issue for which action may be taken, up to and including

                        termination of any agreement between ADfits and that individual or organization.
                    </h2>

                    <h2 class="main-text">
                        We have also taken steps to ensure that any service providers and suppliers with whom

                        we share any information are committed to maintaining the privacy of your Personal

                        Information, as outlined in this Privacy Policy, and refraining from making any

                        independent or unauthorized use of such Personal Information.
                    </h2>

                    <h2 class="main-text">
                        F. RETENTION AND DISPOSAL
                    </h2>


                    <h2 class="main-text">
                        We keep your information for only as long as we need it for the products and services

                        you are using, to offer you products and services when you are a customer and for a

                        reasonable time thereafter, or to meet any legal requirements. We have retention

                        standards that meet these requirements. We destroy your information when it is no

                        longer needed or we remove your name from the information.
                    </h2>

                    <h2 class="main-text">
                        G. HOW WE ENSURE COMPLIANCE WITH OUR PRIVACY POLICY
                    </h2>


                    <h2 class="main-text">
                        <ol>
                            <li>
                                We Are Committed to Upholding Our Privacy Policies
                            </li>
                            If you have any questions or complaints about our privacy policies, please do not

                            hesitate to contact us. Our privacy policies can be found by visiting our Website.


                            <li>
                                We Monitor Our Compliance with Our Privacy Policies
                            </li>
                            We have procedures in place to assist our employees with the carrying out of ADfits

                            privacy policies. Our policies will be reviewed on a regular basis.

                        </ol>
                    </h2>


                </div>
            </div>
        </div>
    </div>
    {% include 'partials/sidebar.html' %}
    {% include 'partials/footer.html' %}

{% endblock %}

{% block js %}

    <script>
        $('.header-wrapper').css('border-bottom', '#483276 1px solid');
        $('header').addClass('header-is-scrolled').addClass('header-side-pages');
        $('.header-bars-wrapper').addClass('is-scrolled');
    </script>

    <script>
        <!-- Scrolled header -->
        $(window).scroll(function () {
            if ($(window).scrollTop() >= 300) {
                $('header').addClass('header-side-pages-is-scrolled');
            }
            else {
                $('header').removeClass('header-side-pages-is-scrolled');
            }
        });

    </script>

{% endblock %}
