<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- test -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8318243152619029"
     data-ad-slot="3761324199"
     data-ad-format="auto"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>


<script>
    $.ajax({
        url: 'my_action',
        dataType: 'script',
        beforeSend: function (xhr, opts) {
            if (1 == 1) //just an example
            {
                xhr.abort();
            }
        },
        complete: function () {
            console.log('DONE');
        }
    });
</script>