<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- test -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8318243152619029"
     data-ad-slot="3761324199"
     data-ad-format="auto"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

<script>

    $.ajax({
        url: '//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js',
        dataType: 'script',
        beforeSend: function (xhr, opts) {
            console.log(xhr);
            if (1 == 1) //just an example
            {
                xhr.abort();
            }
        },
        complete: function () {
            console.log('DONE');
        }
    });

    //$( ".adsbygoogle" ).remove();
    $( 'script[src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"]' ).remove();
</script>